Repository federicociro/ansible-plays, changes with the labels that .github/labeler.yml gives for each.
All labels: playbook, config, documentation, workflow, proxmox, debian, ansible, security

Update README.md
  README.md
Labels: documentation

Fix Proxmox LXC connectivity issues for update-all playbook
  env_template
  playbooks/update-all.yml
  proxmox.yaml
Labels: playbook, proxmox

Claude changes
  CLAUDE.md
  ansible.cfg
  inventory.proxmox.yml
  load-vault.sh
  requirements.yml
Labels: documentation, ansible

added
  .env.example
Labels: none

new files
  .gitignore
  ansible.cfg
  hosts
  inventory.proxmox.yml
  load-vault.sh
  playbooks/add_ssh_key
  playbooks/apt-cacher-ng.yml
  playbooks/setup-ssh-via-proxmox.yml
  playbooks/ssh-diagnostic.yml
  playbooks/update-proxmox-lxc.yml
  playbooks/update-proxmox-nodes.yml
  proxmox.yaml
Labels: playbook, proxmox, ansible

.github/labeler.yml:

# Add 'playbook' label to any changes to playbooks
playbook:
  - 'playbooks/**/*.yml'

# Add 'config' label to any changes to config files
config:
  - 'config/**/*'

# Add 'documentation' label to any changes to documentation files
documentation:
  - '**/*.md'
  - 'LICENSE'

# Add 'workflow' label to any workflow changes
workflow:
  - '.github/workflows/**'

# Add 'proxmox' label to any changes related to Proxmox specific files
proxmox:
  - 'proxmox.yaml'
  - 'playbooks/lxc-resources.yml'

# Add 'debian' label to any changes related to Debian updates
debian:
  - 'playbooks/update-debian.yml'

# Add 'ansible' label to any changes to ansible configuration
ansible:
  - 'ansible.cfg'
  - 'ansible-lint.yml'
  - 'hosts'

# Add 'security' label to any changes related to SSH or Wireguard
security:
  - 'playbooks/ssh-keys.yml'
  - 'playbooks/wireguard.yml'
  - 'config/wireguard/**'
  - 'add_ssh_key'
